.main-nav{
  background-image: linear-gradient(#4682B4, white);
  display: flex;
  border-bottom: 5px solid white;
  color: black;
  padding: 0px 0px;
  align-items: center;
  justify-content: space-between;
}

.@media only screen and (max-width: 600px) {
  body {
    background-color: #4682B4;
  }
}

.title {
  padding: 0px 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  height: 900px;
  /*width: 400px;*/
}

/*.a {
  display: flex;
  height: 300px;
}*/

.selfie {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  height: 900px;
  width: 900px;
}

.img {
  display: flex;    
  height: 800px;
}

.nav-bar {
  padding: 0px 0px;
  list-style: none;
  display: flex;
  color: black;
  gap: 20px;
  padding: 0px 20px;
/*   justify-content: flex-end; */
}

.nav-item {
  font-size: 20px;
}

.about {
  display: flex;
  flex-wrap: wrap;
/*   justify-content: center; */
  background-color: white;
/*   overflow: hidden; */
  text-align: center;
/*   text-size: 30px; */
}

.intro {
  display: flex;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  padding: 0px 0px 0px 390px;
}

.brief-intro {
  display: flex;
  font-size: 22px;
}

.body {
  display: flex;
}

.services {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.effect-container {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  gap: 30px;
  align-items: center;
  padding: 15px;
  background-color: white;
}

.effect-box {
 border: 3px solid black;
 padding: 0px 50px;
 height: 110px;
 width: 60px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.spin-item {
  background-color: white;
  transition: 0.5s ease-in-out;
  animation: roll 2s infinite;
  transform: rotate(40deg);
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: #0000CD;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-item:hover {
  background-color: #4682B4;
  cursor: pointer;
}

.vanish-item {
  display: inline-flex;
  background-color: white;
  transition: 0.7s ease-in-out;
  animation: houdini 2s infinite alternate;
  opacity: 0;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: #0000CD;
}

@keyframes houdini {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-25px);
    opacity: 0;
  }
}

.vanish-item:hover{
  background-color: #4682B4;
  cursor: pointer;
}

.scale-item {
  display: inline-flex;
  flex-direction: row;
  background-color: white;
  transition: 0.5s ease-in-out;
  text-decoration-line: underline;
  text-decoration-color: #0000CD;
  text-decoration-style: dotted;
  text-decoration-thickness: 3px;
}

.scale-item:hover{
  background-color: #4682B4;
  cursor: pointer;
  color:  red;
  transform: scale(1.1);
}

/*.first-container {
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.control-panel {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 100px;
}

.button {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-gap: 20px;
  grid-row-gap: 10px;
  align-items: flex-end;
  padding: 0px 0px 0px 0px;
  width: 100px;
  height: 100px;
}

.h3 {
  display: flex;
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-decoration-style: wavy;
  font-size: 30px;
/*   text-decoration-line: underline; */
}

.Contact {
  background-image: linear-gradient(white, #4682B4);
  display: flex;
  align-item: center;
  justify-content: center;
/*   bottom-border: 80px, solid, #4682B4; */
}

.p {
  font-style: italic;
  display: flex;
  font-size: 30px;
}

.last-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 330px;
}

.number {
  display: flex;
  font-size: 30px;
}

.h2 {
  display:  inline-flex;
  flex-direction: column;
  justify-content: center;
}

.linkedin {
  display: inline-flex;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  gap:  20px;
}

.linkedin-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.linkedin-link {
  display: block;
  justify-content: center;
  align-items: center;
}

.github {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 140px 80px 0px 0px;
}

.github-icon {
  display: inline-flex;
  justify-content: space-around;
  padding: 0px 00px 0px 0px;
  align-items: flex-start;
}
